################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/3033-FriendsGroupProject/v16/.suo
/.vs
/WarGame/.vs/WarGame/v16/.suo
/WarGame/.vs/WarGame/v16/Server/sqlite3
